table {
    width: 100%;
    height: auto;
    table-layout: fixed;
  }




  body {
    background-color: beige; 
  }  

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
    
  }

  td {
    text-align: left;
    text-indent: 0%;
    
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }

  .modal {
    display: none;
  }

  .close {
  position: absolute;
  top: 150px;
  left: 35px;
  }

  .auth-button {
    float: right;
  }


  #currentPageType {
    display: none;
  }

  #loginModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}