table {
    width: 100%;
    height: auto;
    table-layout: fixed;
  }




  body {
    background-color: beige; 
  }  

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
    
  }

  td {
    text-align: left;
    text-indent: 0%;
    
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }

  .modal {
    display: none;
  }

  .close {
  position: absolute;
  top: 150px;
  left: 35px;
  }

  .backFwdNavigation {
    float: left;
  }